body {
font-family: 'Montserrat', sans-serif; 
}

header { 
display: block; 
margin: auto; 
width: 100%;
height: 80px;
overflow: hidden;
background-color: #ffffff; 
margin-top: -10px;
position: fixed;
/*top: 0px; */
}

.logo { 
margin-left: 55px; 
width: 30%; 
display: inline-block;
/*position: fixed; */
float: left; 
left: 0;
margin-top: 20px; 
}

nav ul li a { 
text-decoration: none; 
font-size: 18px; 
padding: 13px; 
font-family: 'Montserrat', sans-serif; 
color: black; 
float: left;
}

li:hover { 
border-bottom: 2px solid #a4bbe1; 
}

/*#shopbutton:hover p{ 
color: #ffffff;
} */

nav ul li a img { 
width: 20%; 
display: inline;
}

ul li { 
display: block; 
float: left; 
padding: 15px;
}

nav ul { 
position: fixed; 
right: 0;
}

nav { 
width:45%;
display: inline;
margin-right: -50px; 
float: right;
right:0;
/*position: fixed; */
margin-top: -20px; 
background-color: #ffffff;
}

.container { 
width: 100%; 
display: block; 
margin: auto; 
}

.openning { 
width: 90%; 
height: 100vh; 
display: block; 
margin: auto; 
padding-top: 90px;
}

/*openning img{
padding-top: 120px;
} */

.partonehome {
width: 95%; 
display: block; 
margin: auto;
} 

.partonehome:after {
  content: "";
  display: table;
  clear: both;
}


h1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 30px; 
margin: auto; 
text-align: center;
padding-top: 50px;
display: block;
padding-bottom: 40px;
}

h2 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 26px; 
margin: auto; 
text-align: center;
}

h3 { 
font-family: 'Montserrat', sans-serif; 
color: #a4bbe1; 
font-size: 24px; 
margin: auto; 
text-align: center;
}
p { 
font-family: 'Montserrat', sans-serif;
color: #a4bbe1;
}

.number1 { 
width: 45%; 
height: 300px;
display: inline; 
margin-left: 10px; 
float: left; 
padding-bottom: 40px;
}

.number1 h3 { 
text-align: center; 
width: 60%;
margin: auto; 
display: block; 
padding-bottom: 5px;
}

.number1 p { 
width: 70%;
text-align: center; 
margin: auto; 
display: block; 
padding-bottom: 10px; 
}

.number1 img { 
margin: auto; 
display: block; 
width: 40%; 
}

.number2 { 
width: 45%; 
height: 300px;
display: inline; 
margin-left: 10px; 
float: left; 
padding-bottom: 40px;
}

.number2 h3 { 
text-align: center; 
width: 60%;
margin: auto; 
display: block; 
padding-bottom: 5px;
}

.number2 p { 
width: 70%;
text-align: center; 
margin: auto; 
display: block; 
padding-bottom: 10px; 
}

.number2 img { 
margin: auto; 
display: block; 
width: 40%; 
}

.number3 { 
width: 45%; 
height: 300px;
display: inline; 
margin-right: 10px; 
float: left; 
padding-bottom: 40px;
}

.number3 h3 { 
text-align: center; 
width: 60%;
margin: auto; 
display: block; 
padding-bottom: 5px;
}

.number3 p { 
width: 70%;
text-align: center; 
margin: auto; 
display: block; 
padding-bottom: 10px; 
}

.number3 img { 
margin: auto; 
display: block; 
width: 40%; 
}

.number4 { 
width: 45%; 
height: 300px;
display: inline; 
margin-right: 10px; 
float: left; 
padding-bottom: 40px;
}

.number4 h3 { 
text-align: center; 
width: 60%;
margin: auto; 
display: block; 
padding-bottom: 5px;
}

.number4 p { 
width: 70%;
text-align: center; 
margin: auto; 
display: block; 
padding-bottom: 10px; 
}

.number4 img { 
margin: auto; 
display: block; 
width: 40%; 
}

#shopbutton p{ 
text-align: center;
padding-top: 15px; 
padding-bottom: 15px;
padding-right: 25px;
padding-left: 25px;
margin: auto;  
border: 4px solid #a4bbe1;
}
#shopbutton a { 
text-decoration: none; 
}

#shopbutton { 
/*padding-top: 60px; */
margin: auto;
display: block;
width: 250px; 
height: 50px;
/*border: 2px solid #aaaaaa; */
}

#shopbutton:hover { 
background-color: #a4bbe1; 
}

#shopbutton:hover p{ 
color: #ffffff;
} 

.lensdemo { 
width: 90%; 
margin: auto; 
display: block;
padding-top: 70px;
}


.parttwohome {
width: 100%; 
display: block; 
margin: auto;
} 

.parttwohome:after {
  content: "";
  display: table;
  clear: both;
}

.parttwohome p{ 
font-family: 'Montserrat', sans-serif;
color: #a4bbe1;
font-size: 17px; 
text-align: center;
display: block; 
padding-bottom: 40px; 
margin: auto;
width: 80%;
padding-top: 20px;
} 

.parttwohome h1{ 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 30px; 
margin: auto; 
text-align: center;
padding-top: 50px;
display: block;
}
.parttwohome h3{ 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 24px; 
margin: auto; 
text-align: center;
display: block;
}

.arrow { 
width: 5%; 
margin:auto; 
display: block; 
}

#partthreehome {
width: 100%; 
display: block; 
margin: auto;
} 

#partthreehome p{ 
font-family: 'Montserrat', sans-serif;
color: #a4bbe1;
font-size: 17px; 
text-align: center;
display: block; 
padding-bottom: 80px; 
margin: auto;
width: 80%;
padding-top: 20px;
} 

footer { 
width: 100%; 
display: block; 
margin: auto; 
position: relative; 
background-color: #D7DAE1; 
height: 100px;
margin-bottom: -10px;
}
footer p { 
font-size: 15px; 
color: #ffffff; 
padding-top: 20px;
padding-left: 20px;
}

#partoneabout { 
width: 100%; 
margin: auto; 
display: block;
}

#partoneabout:after {
  content: "";
  display: table;
  clear: both;
}

#partoneabout p{ 
text-align: center; 
width: 80%; 
margin: auto;
padding-bottom: 30px;
}

#parttwoabout { 
width: 100%; 
margin: auto; 
display: block;
padding-top: 30px;
}

#parttwoabout:after {
  content: "";
  display: table;
  clear: both;
}

.modes { 
width: 50%; 
float: left; 
display: inline;
height: 800px;
}

.modes:hover { 
background-color: #a4bbe1; 
}

/*.modes > p:hover{ 
	color: #ffffff;
} */

.modes:hover p{ 
color: #ffffff;
} 

/*.tcolor:hover { 
color: #ffffff; 
} */
.modes img { 
width: 100%;
} 

.modes p { 
width: 75%; 
text-align: center; 
margin: auto; 
padding-top: 25px; 
font-size: 13px;
}

#partthreeabout { 
width: 100%; 
margin: auto; 
display: block;
}

#partthreeabout:after {
  content: "";
  display: table;
  clear: both;
}

#partthreeabout h1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 30px; 
margin: auto; 
text-align: center;
padding-top: 75px;
display: block;
/*padding-bottom: 20px; */
}

.lensdemovid { 
width: 90%; 
margin: auto; 
display: block;
padding-bottom: 40px;
}

#shoptag { 
width: 90%
margin:auto; 
display: block; 
padding-bottom: 30px;
}

#shoptag:after {
  content: "";
  display: table;
  clear: both;
}

#shoptag h1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 35px; 
margin-left: 100px; 
text-align: left;
padding-top: 75px;
display: block;
}

#shoptag h2 { 
font-family: 'Montserrat', sans-serif; 
color: #a4bbe1; 
font-size: 26px; 
margin-left: 100px; 
text-align: left;
display: block;
}

.shopimg { 
width: 85%; 
height: 100vh; 
display: block; 
margin: auto; 
padding-top: 90px;
}

#shopdescription h1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 35px; 
margin-left: 100px; 
text-align: left;
padding-top: 75px;
display: block;
}

#shopdescription h2 { 
font-family: 'Montserrat', sans-serif; 
color: #a4bbe1; 
font-size: 26px; 
margin-left: 100px; 
text-align: left;
display: block;
}

#shopdescription p { 
font-family: 'Montserrat', sans-serif; 
color: #a4bbe1; 
font-size: 17px; 
margin-left: 100px; 
text-align: left;
padding-top: 30px;
display: block;
width: 70%;
}

.glassescolor1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 26px; 
margin-left: 100px; 
text-align: left;
display: inline;
} 

.glassescolor2 { 
font-family: 'Montserrat', sans-serif; 
color: #a4bbe1; 
font-size: 26px; 
float: left;
text-align: left;
display: inline;
}

.glassescolor2:after {
  content: "";
  display: table;
  clear: both;
}

.colorselection { 
display: block; 
width: 90%; 
margin-left: 100px; 
}
.colorselection:after {
  content: "";
  display: table;
  clear: both;
}

#addtocart p{ 
text-align: center;
padding-top: 15px; 
padding-bottom: 15px;
padding-right: 25px;
padding-left: 25px;
margin: auto;  
border: 4px solid #a4bbe1;
}
#addtocart a { 
text-decoration: none; 
}

#addtocart:hover { 
background-color: #a4bbe1; 
}

#addtocart:hover p{ 
color: #ffffff;
} 

h4 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 26px; 
margin-left: 100px; 
text-align: left;
float: left;
display: inline;
}
#addtocart { 
/*padding-top: 60px; */
margin-left: 100px;
display: block;
width: 250px; 
height: 50px;
/*border: 2px solid #aaaaaa; */
}

#circles { 
width: 5%; 
display: block; 
margin-left: 100px;  
}
.circles { 
width: 5%;
float: left; 
display: block; 
margin-left: -260px; 
margin-top: 70px; 
}

#quantity { 
width: 90%; 
display: block; 
margin: left; 
margin-top: 30px; 
}

.colorcontainer { 
width: 90%; 
display: block; 
margin-left: 100px;
margin-top: 30px;
} 
.colorcontainer:after {
  content: "";
  display: table;
  clear: both;
}

.glassescolor3 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 26px; 
float: left;
text-align: left;
display: block;
}

select { 
width: 200px; 
display: inline; 
float: left; 
margin-top: 45px;
margin-left: 30px;
}

#quantity:after {
  content: "";
  display: table;
  clear: both;
}

/*#reviewhead { 
border-bottom: 1px solid black; 
padding-bottom: 5px; 
} */
.review h1 { 
font-family: 'Montserrat', sans-serif; 
color: black; 
font-size: 35px; 
margin-left: -2px; 
text-align: left;
padding-top: 75px;
display: block;
}

.review { 
width: 65%; 
display: block; 
margin-left: 100px; 
margin-top: 30px; 
border-bottom: 1px solid black;
padding-bottom: 10px; 
}

.review p { 
width: 70%; 
display: block; 
margin-top: 20px; 
}

.review h4 { 
width: 50%; 
margin-left: -2px;
}

.outofstock { 
width: 60%; 
margin: auto; 
padding: 15px;
display: block; 
border: 4px solid red; 
}

.outofstock h1 { 
font-size: 50px; 
color: red; 
text-align: center; 
}

.apology { 
width: 60%; 
display: block;
margin: auto; 
padding-top: 40px; 
}

.apology p { 
text-align: center; 
padding-top: 30px; 
}

#spacer { 
width: 100%; 
height: 100px; 
}

