
/* This is the id div for the header image */
header img { 
	width: 500px;
	display:block;
	margin:auto;
}

nav {
	width:817px;
	display:block;
	margin:auto;
}

/* This is the list items of a nav bar/ adding links to various pages */ 
nav ul li a { 
  text-decoration:none;
  font-size: 15px; 
  padding: 30px;
  font-family: Cinzel, serif;
  color: black;
  margin: auto;
 }

/* This makes the links in line */
nav ul li {
display: block;
float: left;
}

.container { 
width: 950px;
height: 900px;
display: block; 
margin: auto; 
}
 
/* This is the profile picture on my home page next to my bio paragraph */ 
.biopic { 
width: 200px; 
height: 200px;  
margin-top: 50px;
margin-left: 50px; 
float: left; 
padding: 15px; 
}

/* This is the text portion of my bio paragraph */
#bio { 
font-family: Raleway;
text-align: left;
font-size: 15px;
height: 300px; 
width: 450px; 
padding: 40px;
display: block;
float: left;
margin-bottom: 50px;
} 

/* This is for the pdf of resume */
embed { 
display: block; 
float: right; 
width: 625px;
height: 800px;
margin-top: 50px;
}

/*This is the heading of Writing page */
.writing {
font-family: Raleway; 
font-size: 25px; 
text-align: center;
padding: 50px;
width: 350px;
margin: auto; 
}

/* This is the titles of projects */ 
.portfolio {
font-family: Raleway; 
font-size: 20px; 
text-align: left; 
padding: 10px;
}

/* This is the description of projects */ 
.description{
font-family: Raleway; 
font-size: 15px;
text-align: left; 
}

.text{ 
width: 750px; 
height: 600px;
display: block;
float: right; 
}

.thumbnail{ 
width: 200px; 
height: 850px;
display: block;
float: left; 
}


/* footer { 
border: 1px black solid; 
display: block;
position: absolute;
margin-top: 100%; 
width: 100%;
} */



