
#header { 
	width: 100%; 
	height: 30%; 
	margin-left: auto; 
	margin-right: auto; 
	top: 0px; 
	display: block; 
}

nav {
  font-family: Julius Sans One;
}

nav ul li { 
  display: inline;  
  margin: 30px;
  padding:15px;
  border-radius:0 ;
  position: relative;
  clear: both;
 }


div nav {
  border: 1px solid black;
}

.biopic {
clear: left; 
margin-left: 20px; 
}

