
.header { 
	width: 800; 
	height: 400px;
	position: fixed; 
	top: 0px; 
	position: center;
}
nav {
  font-family: Julius Sans One;
}

nav ul li { 
  display: inline;  
  margin: 40px;
  padding:15px;
  border-radius:0 ;
 }


div nav {
  border: 1px solid black;
}