

#header { 
	width: 100%; 
	height: 250px; 
	margin-left: auto;  
	margin-right: auto;
	top: 0px;
	position: relative;
}

nav {
  font-family: Julius Sans One;
}

nav ul li { 
  font-size: 15px;
  display: inline;  
  margin: 15px;
  padding: 5px;
  border-radius:0 ;
  position: relative;
 }


div nav {
  border: 1px solid black;
}
 

.biopic { 
width: 200px; 
height: 200px; 
position: relative; 
margin-left: 20px;
position: relative;
}

