
.header { 
	width: 800; 
	height: 400px;
	position: fixed; 
	top: 0px; 
	text-align: center;
	display: block; 
}
nav {
  font-family: Julius Sans One;
}

nav ul li { 
  display: inline;  
  margin: 40px;
  padding:15px;
  border-radius:0 ;
  position: relative;
  clear: both;
 }


div nav {
  border: 1px solid black;
}