
/* This is the id div for the header image */
#header { 
	width: 600px; 
	height: 200px; 
	margin-left: auto;  
	margin-right: auto;
	float: center;
	top: 0px;
	position: relative;
}

/* This is the list items of a nav bar/ adding links to various pages */ 
nav ul li { 
  font-size: 15px;
  text-align: center;
  display: inline;  
  margin: 15px;
  padding: 30px;
  border-radius:0 ;
  position: relative;
  font-family: Julius Sans One; 
 }

/* This is the box div of nav bar */ 
div nav {
  border: 1px solid black;
  height: 25px; 
  padding: 5px;
}
 
/* This is the profile picture on my home page next to my bio paragraph */ 
.biopic { 
width: 200px; 
height: 200px; 
position: relative; 
margin-left: 50px;
margin-right: 450px;
float: left;
position: relative;
}

/* This is the text portion of my bio paragraph */
#bio { 
float: right; 
text-align: left;
font-size: 15px;
height: 300px; 
width: 500px; 
margin-right: 40px; 
margin-left: 350px;
} 

.biocontent { 
display: inline; 
}

nav ul lid div { 

} 

